[2014-11-28 21:48] carmelopullara opened #1 "Disabling elements"
Hi,

There's a way to disable or overwrite an element of the page builder? For example, can i edit the output of "Team member"?

Thanks!

[2014-11-29 10:13] #1 closed, assigned to nobody

[2014-12-04 05:49] jahir07 opened #2 "How can i use just page builder?"
Hi,
I really love the framework. :)
by the way, i want to use just page builder of unyson. can you please tell me how can i add this extension?

Thanks

[2014-12-04 09:16] #2 closed, assigned to nobody

[2014-12-05 06:36] sergiubagrin opened #3 "Visual Page Editor"
Just installed Unyson as a plugin and using the Visual Page Editor but whilst I've created columns, added content etc, nothing outputs when viewing the page. Also, when switching back to the default editor, there's nothing there which further ties in with the page being blank, but it has definitely saved the visual edited content. Am I missing something? Does it output with the usual the_content()

[2014-12-05 06:37] sergiubagrin opened #4 "the_excerpt comes out empty"
Hi @sergiubagrin , thanks for all the great work you do.
I have a question regarding the page builder.
Right now, every time I use the page builder in a post or page, the_excerpt comes out empty. Is there a way to display the excerpt?

This is related to the page builder elements not being output in the standard editor.

Thanks

[2014-12-06 09:30] themesmeta opened #5 ""Row" support"
Hi @rockalife,
Thanks for your hard work.
I think "Row" feature should be added to Page Builder extension in the nearly future. You know, Bootstrap become very popular now, and we made a lot of websites based on it. Adding a row, then divide it into columns (like the way Visual Page Builder from Codecanyon did) is the perfect solution to build pages based on Bootstrap grid system.
Sorry for my bad

[2014-12-06 14:20] #4 closed, assigned to nobody

[2014-12-07 08:23] sergiubagrin opened #6 "Setup the column and row classes with our own css classes"
Hi unyson team…
is that possible to setup the column and row classes with our own css classes in page builder front-end?
For example, class="large-6 column".
**I am a big fan of foundation framework

LInk: http://themeforest.net/forums/thread/meet-unyson-the-free-drag-drop-wordpress-framework/141818?page=10&message_id=1172487#1172487

[2014-12-07 12:22] wpsoul opened #7 "How to create layout element"
Is it possible to create my own element with width? For example, I want to create element "content section" with 2/3 width in editor but with my own code (<div class="content">...</div>)
It must work like column in editor, but use my own code on frontend

[2014-12-10 09:46] #3 closed, assigned to rockalife

[2014-12-10 11:05] #5 closed, assigned to rockalife

[2014-12-10 12:46] themesmeta opened #8 "Shortcode: Section"
Hi,
Sorry for bother you again.
I cannot set pop up size (medium or large) for this element. I've just added <code>'popup_size' => 'medium'</code> parameter in <code>config.php</code>, but nothing's changed.
Any helps would be appreciated !
Thanks.

[2014-12-10 15:56] #8 closed, assigned to rockalife

[2014-12-14 17:51] themesmeta opened #9 "Shortcode: Row"
Hi there,
Just another question. Is it possible to change <code>.fw-row</code> class name when I choose different options that I added to "Section" shortcode ?
Eg: I have two radio buttons in "section" shortcode. When I select radio button 1, <code>fw-row</code> will be displayed, but when I select radio button 2, <code>fw-row fw-row-large</code> will be displayed instead.
Hope this makes sense.
T

[2014-12-15 11:53] #9 closed, assigned to rockalife

[2014-12-22 08:20] #6 closed, assigned to rockalife

[2015-01-21 08:37] sergiubagrin opened #10 "https://wordpress.org/support/topic/shortcode-preview?replies=1"
I like the plugin, but there are 2 major issues:
1) When using the shortcodes to layout a page it doesn't generate a preview.
2)There also doesn't seem to be a way to convert page to html or edit the page in the text mode.

[2015-01-21 08:58] sergiubagrin opened #11 "Page Builder Title"
Different Titles:

http://screencast.com/t/yv8jeOQpy -> http://screencast.com/t/3SFbfPS0hj

[2015-01-21 11:27] rockalife commented on #10
This is a duplicate of [ThemeFuse/Unyson#170](https://github.com/ThemeFuse/Unyson/issues/170)

[2015-01-21 11:27] #10 closed

[2015-01-27 11:33] sergiubagrin opened #12 "Last element in Builder Page"
Last element in Builder Page: http://screencast.com/t/m9KkzMnQD9h

[2015-01-31 08:51] sergiubagrin opened #13 "Pagebuilder UI"
Different icons in pagebuilder:

1. http://screencast.com/t/P8mybPt23r
2. http://screencast.com/t/eycxVqp5sV

[2015-01-31 13:29] #11 closed

[2015-02-02 11:11] llemurya opened #14 "PageBuilder Templates Popup"
When is saved many templates, some of these is hidden, maybe add scroll bar to tooltip.
Here is the [proof](http://awesomescreenshot.com/0464bg6q9c).

[2015-02-02 14:48] GheorgheP commented on #12
https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/3359937b6ebbe028b34cd1b09d6d46838a402f42

[2015-02-02 14:48] #12 closed

[2015-02-03 15:40] GheorgheP commented on #13
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/commit/39f0268e58ca938bdd660e3dadfeb0b4a05c8a72

[2015-02-03 15:40] #13 closed

[2015-02-04 09:00] #14 closed

[2015-02-04 15:04] DimiBaitanciuc opened #15 "Table shortcode issue"
We have this case when you want to add a description and Yes/No option on the same row, and you can't: http://joxi.ru/gmvV6M1TqQqJma.

[2015-02-04 15:08] #15 closed

[2015-02-10 22:39] DimiBaitanciuc opened #16 "Page Templates"
Aici la templates nu e cum trebuie: http://joxi.ru/zANBp7Miv05NA9, noi facusem altfel initial. Asa nu e functional, trebuie sa avem posibilitatea sa facem Save la un template.

[2015-02-11 06:32] moldcraft commented on #16
A fost reparat https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/14 o sa fie live vineri https://github.com/ThemeFuse/Unyson-Extensions-Approval/issues/18

[2015-02-11 06:32] #16 closed

[2015-02-12 11:06] sergiubagrin opened #17 "DIFFERENT SIZE for same shortcode"
1. http://screencast.com/t/oKHOpDEH6

2. http://screencast.com/t/1sUde7h98d

[2015-02-12 11:08] sergiubagrin opened #18 "Forms error is not displayed on Shortcodes editor"
1. http://screencast.com/t/bnL1czM1

2. http://screencast.com/t/b1Ga0Fs7fu

[2015-02-12 11:10] sergiubagrin opened #19 "It is needed to change icons for Page Builder and Shortcode editor"
1. http://screencast.com/t/b1Ga0Fs7fu

2. http://screencast.com/t/4HJsSNRapWw

[2015-02-12 18:48] moldcraft commented on #17
*Info: Use the latest (git) version of Unyson (it has changes/fixes for modal sizes)*

The problem is that some shortcodes options modal have different sizes in page-builder and shortcode-editor. It's needed to find out why this happens.

[2015-02-18 07:45] sergiubagrin opened #20 "Unyson page builder templates for use on other sites?"
Is it possible to create Unyson page templates and upload/transfer them to other WordPress sites that are using the plugin? As a WordPress Instructor, can I create page templates that my students can then upload to their sites?

https://wordpress.org/support/topic/unyson-page-builder-templates-for-use-on-other-sites?replies=1

[2015-02-19 08:15] sergiubagrin commented on #20
Hi,

It is possible to:

1. Create page templates
2. Create Demo Content Install: http://manual.unyson.io/en/latest/extension/contentdemoinstall/index.html#content
3. Download It
4. Install theme on a different Wordpress theme
5. Install Demo Content

[2015-02-19 08:15] #20 closed

[2015-02-20 09:31] DimiBaitanciuc opened #21 "[Shortcode Editor] Limit post types and shortcodes"
There is a problem of usability that I think will force us to re think how the shortcode editor works.
I think we need to build an option in the Page Builder like this:

http://joxi.ru/VrweWGyH7PJL2X

We need two things:
1. To be able to enable only the editor shortcodes for posts
2. A config file that will let us select what shortcodes we'll have in the editor shortcodes. Considering that we can'

[2015-02-20 12:41] ierpe commented on #21
Hi,
As a similar enhancement, I had thought that we could have a "Widgets" tab in the page builder, where you could just call the widgets into the page/posts content, in a similar fashion of the Site Origin page builder.

You could have an option to enable / disable this tab in the same way you are suggesting here.

What do you think?

[2015-02-20 13:10] DimiBaitanciuc commented on #21
We already have a widget shortcode - http://joxi.ru/8AnN51aiz6XGAO that lets up add any widget on the page. Is this what you mean ? or I am missing something ?

(I'm not familiar with Site Origin page builder)

[2015-02-20 13:16] ierpe commented on #21
Yes I know that, but in the end it's not very handy, because you need to make a widget sidebar, then fill it with widgets, then that's what you can add from the page builder. So it is handy to manage widget "groups", but what if you just want to add a single Widget in a page or a post with page builder. You have to first create a Widget area...

What I mean is to add a single widget, and have the

[2015-02-21 10:48] DimiBaitanciuc opened #22 "Contact Form Builder fixed header"
We need to make the contact form builder shortcodes fixed - http://joxi.ru/DrlM7xKhVlxKmP like in the regular page shortcodes.

[2015-02-23 09:23] GheorgheP commented on #19
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/commit/39f0268e58ca938bdd660e3dadfeb0b4a05c8a72

[2015-02-23 09:23] #19 closed

[2015-02-23 09:29] sergiubagrin commented on #22
Details:

da poate nu am explicat prea bine
[11:27:41 AM] Dimi: headerul
[11:27:49 AM] Dimi: cand ai contact form-ul mai mare
[11:27:53 AM] Dimi: sa fie fixed
[11:27:57 AM] Dimi: cum e la page builder
[11:28:01 AM] Dimi: la pagini
[11:28:28 AM | Edited 11:28:37 AM] Dimi: noi am facut cu Oleg la Pages dar mi-am dat seama dupa ca la contact form nu am facut
[11:28:49 AM] Dimi: nici nu stiu daca se p

[2015-02-23 09:41] GheorgheP commented on #17
https://github.com/ThemeFuse/Unyson-Forms-Extension/commit/ef1e0342359269f5833a16b385e36ca97305f701

[2015-02-23 09:41] #17 closed

[2015-02-26 13:38] #7 closed

[2015-03-03 06:37] xpeeder opened #23 "how do i make vertical option page ?"
i have planed to use you framework my next project :)
i have tried scratch theme. its  displayed theme options with tab.
i have search your documentation but i dont find how i make theme options  in vertical.

but i saw vertical now live in trello

can you please tell me how i can make theme options vertical.

Thanks

[2015-03-03 06:40] moldcraft commented on #23
[v2.1.23](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.23)

[2015-03-03 06:40] #23 closed

[2015-03-09 11:51] alexluncashu opened #24 "Popup background in safari"
In safari, is missing popup background http://joxi.ru/p27E6pZiWLjar7

[2015-03-12 14:21] GheorgheP commented on #24
https://github.com/ThemeFuse/Unyson/commit/ba833470dc641cbbe33952e650ea2201e10b558f

[2015-03-12 14:21] #24 closed

[2015-03-13 14:28] ierpe opened #25 "Drag'n'drop is not handy"
As seen on this video I made, sometimes it's nearly impossible to place a block : https://www.youtube.com/watch?v=iphLrknR9go&feature=youtu.be

The block is not going to the section I want, sometimes goes back to the top of the builder, nests where I don't want it too... etc.
I think they should be some "reserved spaces" for dropping blocks, the same way Wordpress does it on its dashboard, because

[2015-03-23 10:04] GheorgheP commented on #25
Hi,

Yes, we know that at the moment builder has some inconveniences, in this commit we reduced the ma little bit: https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/68186232101ff10145462ff62917b73358a858ad

We are still working on that and solve as soon as possible.

[2015-03-25 15:04] ierpe opened #26 "Page "Preview Changes" breaks the editor code"
This issue also happened to one of our customer when trying to revert to a previous revision of a page (Although we couldn't reproduce this exact problem, revisions seems to break the builder in the same way that what Im about to describe)

So basically when trying to preview the changes on a page by clicking the "Preview changes" button :

![edit page le moment de dire stop wordpress 2](https://c

[2015-03-26 07:57] GheorgheP commented on #26
Hi @ierpe,

Yes this is a strange problem. Can I get the content of one of those problematic pages? Also I see in the screen there are installed other additional plugins, may be there is some kind of conflict.

And one more thing, try to set this version of Page Builder on your clients page: [v1.3.5](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/releases/tag/v1.3.5).
In this version wa

[2015-03-26 08:15] ierpe commented on #26
Hi, and thanks for the answer.
I just tried with this version and it's not working either.

There is no other plugin installed. I have one plugin on this site that has shortcodes functionality, but even if I remove it from the page I have the same problem.

For the rest it's only text bock, image and divider from the unyson shortcodes...

Here is the builder coder from when the page is working :

[2015-03-26 09:00] GheorgheP commented on #26
Hi,

Are you able to make a export of the database and and send me the `.sql` file and I will test and give you the solution as soon as possible?

[2015-03-26 10:13] ierpe commented on #26
Is it ok if I give you a WordPress export file (The xml files generated from tools) ?

The thing is, we also extended shortcodes in our themes (Parent and Child, we are not using the scratch themes at all)?

[2015-03-26 10:21] ierpe commented on #26
I emailed you the file

[2015-03-31 08:57] ierpe commented on #26
This is not solved and should not be closed, I updated to unyson v2.2.5 and latest versions of the extensions and the problem persists!

[2015-04-01 13:31] flody commented on #26
Hello,

This seems to solve the problem with the preview but it doesn't with revision.

[2015-04-01 13:59] flody commented on #26
Sorry for my last comment/pull request. It is not related to this issue. I just made a mistake with the issue number.

[2015-04-01 14:01] flody commented on #19
Sorry for my last comment/pull request. It is not related to this issue. I just made a mistake referencing the pull request (issue 19 but for shortcode extention).

[2015-04-02 07:54] moldcraft commented on #26
@GheorgheP I reopened it for

[2015-04-06 08:55] GheorgheP commented on #26
Will continue here: https://github.com/ThemeFuse/Unyson/issues/424

[2015-04-06 08:55] #26 closed

[2015-04-14 13:47] 2Fwebd opened #28 "Issues with the latest releases..."
Hi there,

I got many feedbacks from customers and I got the same issue to... Actually with the latest version of Wordpress, Unyson and Unyson extensions, We can no longer edit the content from the Page Builder, the shortcodes are there (we can see it once the page builder is disabled) but doesn't seem to be interpreted by Unyson page builder..
Example :
http://2f-design.fr/dev/starry-dev/about-us

[2015-04-16 10:56] GheorgheP commented on #28
https://github.com/ThemeFuse/Unyson/issues/424

[2015-04-16 10:56] #28 closed

[2015-04-20 08:59] ierpe commented on #25
Hey, check out this really cool drag'n'drop library : http://bevacqua.github.io/dragula/
Maybe it could save you some time to use it for the page builder, it seems very stable!

[2015-04-20 09:31] moldcraft commented on #25
http://jqueryui.com/sortable/#connect-lists also seems stable, but in more advanced scenarios the flaws start to appear.

We will take a look if it's possible to replace [sortable](https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/c4d38a1724e84370fcb30421d411a99ad46314dd/includes/option-types/builder/static/js/builder.js#L374-L629) with [dragula](https://github.com/bevacqua/dragula#usage)

[2015-04-22 00:06] #22 closed

[2015-04-22 10:03] ierpe commented on #25
Actually this one might even be a better candidate since it seems it is based on sortable : http://johnny.github.io/jquery-sortable/

[2015-05-11 09:59] DimiBaitanciuc opened #29 "Icon change"
I'd like us to change the pen icon http://joxi.ru/Q2KqDkgSvZG9rj for the edit function with a gear one http://joxi.ru/8AnN51aiy6gNAO. Bogdan pointed out that it was hard for him to figure out that the columns and we think changing the icon will help a bit, people being more accustom with a gear icon for settings.

When it will come to this please give me a sign on skype and I'll give you the exact

[2015-05-11 10:02] moldcraft commented on #29
[This](https://developer.wordpress.org/resource/dashicons/#admin-generic) ?

[2015-05-11 11:23] DimiBaitanciuc commented on #29
Yes

[2015-05-11 19:37] moldcraft commented on #29
[This](https://static.md/e5d5e7c2a14465f06f982fde797bab94.png) is ok?

[2015-05-13 19:21] moldcraft commented on #25
Can you please [download](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/archive/master.zip) the dev version of PageBuilder and install it in `unyson/framework/extensions/shortcodes/extensions/page-builder`?

I made the placeholder visible

[ ![s](http://static.md/6daa0ee3899ea785cef652b8ea792935.png) ](https://static.md/6daa0ee3899ea785cef652b8ea792935.png)

I think it should help unde

[2015-05-13 19:22] moldcraft commented on #25
updated comment above

[2015-05-14 15:33] #29 closed

[2015-05-15 15:24] moldcraft commented on #25
I changed the [sortable tolerance parameter](http://api.jqueryui.com/draggable/#option-snapTolerance) to  `pointer` and I think it's a game changer. Please [test it](https://github.com/ThemeFuse/Unyson-Extensions-Approval/issues/67).

[2015-05-15 15:27] moldcraft commented on #25
I changed the [sortable tolerance parameter](https://api.jqueryui.com/sortable/#option-tolerance) to  `pointer` and I think it's a game changer. Please [test it](https://github.com/ThemeFuse/Unyson-Extensions-Approval/issues/67).

[2015-05-18 12:08] ierpe commented on #25
I tried but cannott test as I get the following error :

[code]

[2015-05-18 16:23] moldcraft commented on #25
Delete `unyson/framework/extensions/builder/extensions`

[2015-05-19 09:26] ierpe commented on #25
This is what I did in the first place... but I still have the problem and connot test it :(

[2015-05-20 15:06] moldcraft commented on #25
You can delete the entire plugin and reinstall it via admin panel. The changes are already in production.

[2015-05-21 23:06] nickkuijpers opened #30 "Google Page Insight Minify"
Hi,

Currently optimizing Google Page Insight on some websites and i see that the following file needs to be minified. Is there a possibility to make this minified by default?

/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/js/jquery.fs.wallpaper.js

Thanks a lot! :) :+1:

[2015-05-25 09:29] moldcraft commented on #25
Have you tried it? Can I close this issue?

[2015-05-25 13:27] moldcraft opened #31 "can see page content in page builder, but default editor is empty"
**Webprom Design**

After inserting page text content into section and full width column with page builder, can't see the raw page code in default editor. Should it be so?

----

**Unyson**

Just to clarify the steps to reproduce this:

* Open "Add new page"
* Write some text in default editor
* Press the "Visual Page Builder" button
* Press post "Update" button
* Switch back to Default editor (th

[2015-05-25 13:48] webprom commented on #31
is it my local problem or was it built this way?

[2015-05-25 13:59] moldcraft commented on #31
it's built this way.

We decided that the user doesn't need to see that big shortcodes string

[code]

it will use Visual Builder or will move to Default editor to start a new text only content.

----

We will come back with a final reply soon. (If we will leave that behavior or will make some changes)

[2015-05-25 14:07] webprom commented on #31
i see, if you decide to leave it as before, maybe disable default editor button

[2015-05-25 14:12] moldcraft commented on #31
I don't think this is a good idea.
For e.g. user just installed Unyson, then he press Visual Builder button on an existing page (with finished content) then want to switch back.

[2015-05-25 14:17] webprom commented on #31
i've tried several other visual builders, and all of them have also default editors populated... empty default editor looks scary

[2015-05-25 20:29] ierpe commented on #25
Hey, yes I tried and I still have some problems of sections / blocks nesting with each other when they shouldn't :-/
Sorry it was a long weekend here, I didn't have time yet, but I'll post some screenshots tomorrow

[2015-05-25 20:31] moldcraft commented on #25
Ok, no problem. Thank you for feedback.

[2015-05-26 10:25] ierpe commented on #25
Ok here is a bug I cannot reproduce everytime, so I could not capture it in a video, but I have a screenshot :

![screenshot-nested-section](https://cloud.githubusercontent.com/assets/790992/7810215/65a89c3e-03a0-11e5-8547-08f28dfba30d.png)

As you can see after moving a section around, it ends up nested into another section... otherwise the drag'n'drop definitely seems better, compared to when I

[2015-06-01 08:34] #30 closed

[2015-06-05 08:59] llemurya commented on #31
@webprom It is a normal workflow, because when you click on Default Editor Button, you want to add a simple text or description and the steps to do this are :
1. Delete all content that contains shortcodes
2. Insert your text
We decide to simplify the steps, what is why you see the default editor empty, and in our opinion the editor with shortcodes looks scarier than an empty editor.
`
[section is

[2015-06-25 06:48] #31 closed

[2015-06-28 07:34] NazarkinRoman opened #32 "Is it possible to get page builder info for current page?"
Hello!

Is it possible to ensure that page builder is used on current page(to load other page template instead of standard) and get a list of widgets on page(or just ensure there is a some widget is used or not)?

Thanks in advance.

[2015-06-28 09:32] moldcraft commented on #32
[Yes](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/59e90aa2458229990e385f8c956a4c0a94e442bd/helpers.php#L3-L9)

I don't know, I am not familiar with Sidebars and widgets.

[2015-07-01 17:16] NazarkinRoman commented on #32
Hmm.. As a temporary solution I've used standard wordpress `has_shortcode` function. This builder based on shortcodes, so all elements is shortcodes too and we can use core functions to work with them.

But still looking for more elegant solution..

[2015-07-02 09:24] moldcraft opened #33 "Save and reuse sections templates & Theme predefined templates"
- [x] Save and reuse sections/columns templates

    When building huge pages, some parts of the page are repeated on all pages. Using a template to save all shortcodes then deleting the not needed one is tedious. Or on every new page, you need to start configuring all shortcodes again.

    An idea is to have a "Save" button on sections (and columns) http://joxi.ru/eAO608EU63GD2o then those eleme

[2015-07-03 04:01] #32 closed

[2015-07-19 16:19] thanhluu commented on #33
Do you have any plan to make Import / Export Templates tool (as a XML file for example)?

[2015-07-20 11:59] moldcraft opened #34 "Save post button in builder"
Can you add a Save button here: http://prntscr.com/7pr79g?
I think it's helpful with page builder that has a lot of shortcode. Currently, I have to scroll down , edit shortcode and scroll up to save changes.

[2015-07-20 12:00] moldcraft commented on #34
That button will appear when fixed header is active (when page scroll is down).

[2015-07-20 12:18] moldcraft commented on #34
http://joxi.ru/4AkE0XLijRaxmq

[2015-07-22 10:00] moldcraft commented on #25
TODO: On drag, show shortcode square thumbnail http://joxi.ru/l2ZYnzKClBonmJ

[2015-07-24 14:39] moldcraft commented on #25
TODO: On drag, placeholder should be sizeless (to not bother other elements on the page) to be with position absolute (or something similar) and to be displayed as a line http://joxi.ru/V2VvR06UBeG62v

[2015-07-27 12:14] danyj commented on #33
@thanhluu  +1000

And it would be ideal to have the templates saved in files, json or xml  instead of DB. The issue I have now is I have 2 installs , one is production other one is coding/testing ,  I built several templates in testing version while working and there is no way to export them / reuse them in production version without doing those again.

File version of templates would make this dr

[2015-07-27 12:16] danyj commented on #25
@moldcraft  If you don't mind ,  what is that   "ideal"  builder you made video off ?

[2015-07-27 12:17] moldcraft commented on #25
https://ukit.com

[2015-07-27 12:22] moldcraft commented on #33
:thumbsup: Thank you. Didn't thought about that.

[2015-07-28 12:43] ierpe opened #35 "Extra update button appeared after latest unyson update"
Hey, not 100% sure it's related, but I just updated to unyson 2.4.3, updated the extensions, and now I have this extra update button lying on the visual builder

![edit page ad s up wordpress](https://cloud.githubusercontent.com/assets/790992/8931456/bcc07c04-3536-11e5-87b5-92c0848f29d0.png)

[2015-07-28 12:52] moldcraft commented on #35
It seems that you have Builder extension dev version. That [button was added](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/34) but we haven released a new version yet.

[2015-07-28 12:52] #35 closed

[2015-07-28 13:16] ierpe commented on #35
Ah yes... we are using a script to clone all extensions directly from github, since the interface installation always creates folder permission issues and won't install...

[2015-07-30 10:29] moldcraft commented on #34
TODO: Try to find a way to restore page scroll after save/refresh.

[2015-08-07 12:07] moldcraft commented on #34
https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/a8e1d6a2982c8c6a832c4ab8922541f9a9f93d90

[2015-08-07 12:07] #34 closed

[2015-08-07 14:40] moldcraft commented on #33
Section and Column templates are done https://github.com/ThemeFuse/Unyson-Extensions-Approval/issues/112

Predefined templates loaded from files will be soon.

[2015-08-12 11:21] andreiglingeanu opened #36 "Can't save new post when "Title" field is empty"
There is a problem saving post when the title field have no text. When we are out of "Visual Page Builder" mode post saves fine, without title.

[2015-08-17 14:03] moldcraft commented on #33
I didn't found a good solution to load predefined templates from a file, I don't know in which file to place them. So I just added a filter and everyone (maybe other plugins) can hook and add their predefined templates to the list.

To test that feature, download the latest dev versions of [Builder](https://github.com/ThemeFuse/Unyson-Builder-Extension) and [Shortcodes](https://github.com/ThemeFus

[2015-08-17 15:37] moldcraft commented on #33
Done. To dump item or builder json in console, download the latest dev version of Builder extension and run this function in browser console:

[code]

[code]

[2015-08-17 17:21] danyj commented on #33
@moldcraft  thnx for the suggestion. i'm out of office for next 10 days and wont be able to test but by the looks of it seems to complicated and kinda half way there.  not sure how what you mean by

it would be great if you can elaborate more on that and we might find a solution to the issue that bugs you/

I did this already kinda and your helped me dump the theme settings json couple months ago.

[2015-08-17 17:56] moldcraft commented on #33
It's not complicated, I explain very detailed that's why it looks complicated.

#### How to create predefined templates

1. Add in `{theme}/inc/hooks.php`

[code]

2. Open post edit page
3. Open browser console and run [this function](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/33#issuecomment-131866126)
4. Create templates:

    1. Add and configure shortcodes in builder

[2015-08-17 18:08] danyj commented on #33
ok , you have the whole process but missing out on export to file button instead of "click on highlighted area" and  read json from file  of  instead ,

    $templates['awesome_template_1'] = array(
        'title' => __('Awesome Template 1', 'fw'),
        'json'  => '(PASTE JSON HERE)'
    );

something along these lines

    get every file  + file name from preset folder ( loop )
    use file n

[2015-08-17 19:25] moldcraft commented on #36
I can't reproduce this
https://vid.me/2WEM

[2015-08-18 12:25] moldcraft commented on #33
Such button is not needed for simple users and may be user very rare. So I think that for developers the solution with highlighted area is acceptable.

[2015-08-18 13:11] moldcraft commented on #33
titles should be translable, and I don't think it's ok to have file names like

[code]

----

To not load those big `json` strings on every refresh, you can add in `{theme}/inc/hooks.php`

[code]

then create `{theme}/inc/includes/builder-templates/page-builder/full.php`

[code]

[2015-08-24 14:53] andreiglingeanu commented on #36
The problem is that the work done using page builder is not saved when the title is empty. I can see this behavior in your screencast also. Or this is by intent?

[2015-08-24 15:25] moldcraft commented on #36
* I add a new page
* Leave the title empty
* Add one column in builder
* Press Save
* After refresh the column is there
* I add another column
* Press Save
* After refresh both columns are there

----

Please make a screencast showing the problem or give me access details to the site with the problem (also FTP details so I can debug the code)

[2015-08-24 15:29] moldcraft commented on #36
Maybe this video is more clear https://vid.me/UPPQ

[2015-08-24 15:54] andreiglingeanu commented on #36
With pages it works on my side too. Please try out to reproduce this on posts.

https://gyazo.com/d2fd1e60f8b06ab6109c4c1b88f7a938

[2015-09-01 10:38] moldcraft commented on #25
https://github.com/bevacqua/dragula/issues/190

If you have any ideas or know a solution, please share.

[2015-09-03 19:44] #33 closed

[2015-09-06 16:55] moldcraft commented on #33
P.S. In browser bookmarks, besides links, you can add javascript code. In url set `javascript:{code}`

The script from https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/33#issuecomment-131866126 can be added as bookmark and executed when needed just by clicking on that bookmark

[code]

* ![](https://static.md/ac79e46f504e0736a91481c6e6a0b77d.png)
* ![](https://static.md/71c57178131

[2015-09-06 17:17] danyj commented on #33
:+1:

[2015-09-14 22:12] moldcraft commented on #25
The above issue was closed :|

I will try to integrate dragula as it is, I hope it will work fine/handy.

[2015-09-28 08:40] ryangreg55 opened #37 "Installing this PLugin via FTP"
I am having issues adding this via FTP as I do not know how. I need to install this Pagebuilder and Portfolio however I cannot due to my hosting.

Can anyone give me a guide to installing this as it would be much appreciated. Or if there is a developer here who can set these up for me at a price, please let me know.

Alternatively, would changing hosting provider allow me to install these extensio

[2015-09-28 08:48] moldcraft commented on #37
Hi,

Anyway you will need to update extensions at some point (because we constantly release bug fixes and new features). So better to fix the problem with your hosting instead of uploading extensions manually.

Please ask the current hosting to allow requests to http://github-api-cache.unyson.io/ (this site is used for extensions update) or change the hosting provider.

[2015-09-28 08:48] #37 closed

[2015-09-28 19:30] dominicht commented on #25
I took a quick look at ukit.com and their solution looks great. I'm not a pro at this, but it seems like the reason why it's hard to put elements at the right place is because your placeholder is a big relative div that moves other elements around when you drag it.

If think you could reproduce something like ukit.com by modifying the ".fw-builder-placeholder" div css and give it 0px width / 100%

[2015-09-28 19:45] moldcraft commented on #25
I tried that https://github.com/ThemeFuse/Unyson-Builder-Extension/tree/handy

Still has glitches (the placeholder moves very fast back and forth)

[2015-10-22 10:55] alvisir opened #38 "Avoid the user to put an element in a column with a specific size"
Hi,
is it possible to avoid the user to put an element in a column with a specific size?
For example an element that requires only a full-width layout to better display its content.
The idea would be to display an alert when the column does not match the requirements of the inserted element.

[2015-10-22 11:09] moldcraft commented on #38
Hello,

This method does the trick https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/e07cd70ea1ea8a0179078ba6be4d616c9bc732c5/includes/option-types/builder/static/js/builder.js#L688-L696

Here it is in Column https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/65e595ae84684b330a4161cef4afc1df538a7ddc/shortcodes/column/includes/page-builder-column-item/static/js/scripts.js#L136-L

[2015-10-22 12:51] alvisir commented on #38
Thank you for reply. In my case the restriction by type is enough.
About the issue of inner elements, is it possible to add a js alert that warns the user and blocks the resize? The css solution is pretty good but I prefer to avoid the issue only from backend.

[2015-10-22 14:44] #38 closed

[2015-10-22 14:51] moldcraft commented on #38
I added an event https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/compare/v1.3.4...3006a34acc3023e0169a5024429d73087a9bbdc0#diff-9dcef477f9fa28c8d82e1ac4d1c8d396L136

Download the latest dev version of [Shortcodes](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension) in `unyson/framework/extensions/shortcodes` and try the following

[code]

[2015-10-28 20:25] alvisir commented on #38
Hi, sorry for the delay. Nice, but where do I put the last piece of code you wrote?

[2015-10-29 10:22] ierpe commented on #25
Hi, any updates on this?
The flickering is still very present...

[2015-10-29 10:57] moldcraft commented on #25
I am currently working on Backup v2. Then a very important task is https://github.com/ThemeFuse/Unyson/issues/838 . Then I will try to implement this https://github.com/bevacqua/dragula/pull/197

[2015-10-29 10:59] ierpe commented on #25
Nice, waiting for it!

[2015-11-05 19:21] moldcraft commented on #25
*(temporarily closed) just testing something*

[2015-11-23 07:54] majid-nxb opened #39 "How to add row inside column?"
Hello,
Thank you very much for your great effort to provide page builder, I have a question, how to add row inside column using page builder? If I want two columns inside one column, what should I have to do?

thank you.

[2015-11-23 09:31] moldcraft commented on #39
Hello,

Unfortunately, [you can't](https://github.com/ThemeFuse/Unyson/issues/230)

[2015-11-23 09:31] #39 closed

[2015-11-25 12:21] andreiglingeanu opened #40 "Customizing Simple Item Type"
Hi,

I'm trying to add some custom functionallity to [**Simple Item Type**](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/0a7e1a49978cc7a53480a279aedfd96d821c831f/includes/page-builder/includes/item-types/simple/static/js/scripts.js) [modal](https://cloud.githubusercontent.com/assets/2979628/11396981/91cafee2-937e-11e5-88f8-abbd1a06cb10.png).

It would be nice if I'll have the pos

[2015-11-25 12:37] moldcraft commented on #40
https://github.com/ThemeFuse/Unyson/issues/1042#issuecomment-159579738

download the latest dev version of Unyson and PageBuilder extension, execute `fwEvents.debug(true)` in browser console and click to open the modal.

[2015-11-25 12:51] moldcraft commented on #40
Please give concrete examples of which custom functionallity do you want to add

[2015-11-25 17:44] andreiglingeanu commented on #40
I want to add a rudimentary preview functionality for every shortcode. I'll handle all the html fetching, css and js initialization of them by myself. Hope to create something as general as possible.

By the way, event like `fw:builder-type:page-builder:item-type:simple:sub-type:button:options-modal:open` looks too specific to me. Not sure how to attempt the realisation, maybe create a registry of

[2015-11-25 20:02] moldcraft commented on #40
Trimite te rog pe `moldcraft[at]email.com` explicatie in română ce anume vreti sa facei ca nu prea inteleg.

[2015-11-26 09:53] rockalife commented on #40
Hi @andreiglingeanu

I think that what you are trying to do is a bad idea, and here is why:
* Even if the user would have the shortcode's preview in the modal, he would still need to preview the whole page to see if the shortcode fits in (design wise) with the rest of it.
* There might occur some inconsistencies if a shortcode is built to look and / or behave differently in various contexts. E.g.

[2015-11-26 10:12] danyj commented on #40
@andreiglingeanu bud , you are on the right track , I cant disclose what I did at this moment, but it is worth it. and the way to do it is dont mess with the modal open/close/render events  but rather create own option type that would sum up everything.

hint in creating that kind of option type,

all you need to save is

html
css
json ,

you dont need to save 50 options but 3 , but you can have p

[2015-11-26 13:53] moldcraft commented on #40
*Please download the latest dev version of Shortcodes, PageBuilder and Builder extensions. There were made some css fixes related to controls.*

##### How to add a new control for simple item

[code]

[2015-11-26 13:59] moldcraft commented on #40
Let me know if you need something else, if not, please close this issue.

[2015-11-26 17:45] andreiglingeanu commented on #40
@moldcraft What you mean by downloading the dev version? Just redownload from unyson menu will not do? Do I have to download them manually into wp-content/plugins/unyson?

[2015-11-26 17:55] andreiglingeanu commented on #40
Your [suggestion](https://cloud.githubusercontent.com/assets/2979628/11428707/1535c7e6-9477-11e5-93fa-c296a9a113d8.png) is not what I need. [This](https://cloud.githubusercontent.com/assets/2979628/11428733/4daf7fe0-9477-11e5-9536-08851e31834e.png) is what I try to accomplish.

That's how I'm doing it now:
[code]

Thanks.

[2015-11-26 18:38] moldcraft commented on #40
Well, next time better create a screenshot with annotations.

[2015-11-26 18:39] moldcraft commented on #40
Well, next time better create a screenshot with annotations.

Ok, I will check if it's possible to create an event to register custom buttons there.

[2015-11-26 18:51] andreiglingeanu commented on #40
@rockalife I agree that it's possible to create inconsistencies between modal and the main page, but it's a matter of properly inserting some css. At least I'll try it.

@danyj Didn't get your idea. Why I would need a new option type here?

@moldcraft Okay, thanks.

[2015-11-26 21:07] danyj commented on #40
@andreiglingeanu  forget my idea I am bound by the contract not to disclose it before theme release ,
what you are doing is not bad at all , actually we should have something like this by default, sure optional but doable ,

on preview click render shortcode preview with it's CSS js dependencies. and I see you are on the way to acomplish this here https://github.com/ThemeFuse/Unyson-Shortcodes-Ext

[2015-11-26 21:29] andreiglingeanu commented on #40
@danyj In order to give this option by default we have to create an unified way of adding custom dynamic css. Until then, every realisation of preview feature will be bound to the theme way of adding dynamic css.

The part with JS should be solved with some sort of event that will trigger every JS action.

[2015-11-26 21:42] danyj commented on #40
@andreiglingeanu  there is already a way to do dynamic css/js , I have been using since moldcraft made it happened couple months back
https://github.com/ThemeFuse/Unyson/issues/275#issuecomment-94061237

http://manual.unyson.io/en/latest/extension/shortcodes/index.html?highlight=dynamic#enqueue-shortcode-dynamic-css-in-page-head

and loading the shortcode  css/js files goes trough shortocde static

[2015-11-26 21:44] andreiglingeanu commented on #40
@danyj Yep, I'm already testing if capturing css from `fw_ext_shortcodes_enqueue_static:{name}` works well. Will come up with feedback.

[2015-11-26 21:46] danyj commented on #40
@andreiglingeanu   note that for shortocdes with dash in a name , you need to use an underscore like this for example

    fw_ext_shortcodes_enqueue_static:special_heading //  instead special-heading

[2015-11-27 13:03] moldcraft commented on #40
https://github.com/ThemeFuse/Unyson/commit/4dfcaea0048578143a453394bf569704be615575

[code]

----

https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/commit/f9a37432903d944a2e2c9cd4deec3bf41de5cbd3

[code]

[2015-11-27 16:01] moldcraft commented on #40
Is there anything else that needs to be done on this issue?

[2015-11-27 16:18] andreiglingeanu commented on #40
@moldcraft Very cool :+1: I guess we are done. Let's close it.

[2015-11-27 16:18] #40 closed

[2015-11-27 16:27] danyj commented on #40
@andreiglingeanu if you dont mind share what you have once done please. I cant share mine until theme is out but will gladly do so afterwards.

[2015-12-09 16:18] danyj commented on #40
suggestion ,  add option for button location and typoe ( link or button ) ,  header of footer http://prntscr.com/9c6i9e
in your latest theme Themefuse added links to docs  next to close modal button which I find very useful.
http://prntscr.com/9c6jyd

[2015-12-09 16:27] moldcraft commented on #40
It already exists but it's not documented

[code]

[2015-12-09 16:28] danyj commented on #40
thank you! :+1:   would be nice to see it in the docs. just in case someone else needs it.

[2015-12-22 22:14] moldcraft commented on #25
Finished [dragula](https://github.com/bevacqua/dragula) integration. Everything is on [this branch](https://github.com/ThemeFuse/Unyson-Builder-Extension/tree/handy-dragula) ([diff](https://github.com/ThemeFuse/Unyson-Builder-Extension/compare/handy-dragula))

Unfortunately:

* A [very important feature](https://github.com/bevacqua/dragula/issues/121) is missing
* They refused to add a delay param

[2015-12-23 11:30] danyj commented on #25
@moldcraft  testing

[2015-12-23 11:35] danyj commented on #25
@moldcraft  anything special I should look for , this looks ok to me

[2015-12-23 12:09] danyj commented on #25
I see what delay did , the columns are dancing around until you drop the one you are moving.

[2015-12-23 12:12] danyj commented on #25
bug , cant move clicked section,  did not drag but clicked on 1/4 column , it drooped under the section and I cant move it anymore http://prntscr.com/9hm0nu

[2015-12-23 12:13] moldcraft commented on #25
Can you make a video please?

[2015-12-23 12:13] danyj commented on #25
sure sec

[2015-12-23 12:15] danyj commented on #25
http://screencast.com/t/JOv3ESBfUET

[2015-12-23 12:17] moldcraft commented on #25
thanks

[2015-12-23 12:23] danyj commented on #25
Can you adjust this if possible
http://screencast.com/t/gzGKgem2

left to right movements require you to go more right in order to trigger the move ,
up/down are ok and right to left seem ok also.

[2015-12-23 12:27] danyj commented on #25
in prev video I  resized the browser to make video smaller , but on full screen that left to right takes longer ,see here
http://screencast.com/t/jFRLg0A30WY

[2015-12-24 14:49] moldcraft commented on #25
I [tried](https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/1790fee9c668ceb0b7f47239b0b2ba15a1ab3070) this [parameter](https://github.com/bevacqua/dragula#optionsdirection) but it creates the "jumping" [glitch](https://vid.me/1irG)

[2016-01-05 12:26] DominicTobias commented on #25
Unfortunately this prevents me from using this great lib and throwing out jquery ui, which works for vertical and horizontal dragging without changes. In a list view dragula works will, but in a grid view it doesn't! Unfortunately I don't have the maths powa to help, but it's great you guys are working on it I hope you manage to figure it out!

[2016-01-06 18:43] pear1 opened #41 "Shortcode auto add inside section"
Hello,

Is it possible to auto add shortcodes inside sections or in other words don't allow to use them without sections?

[2016-01-06 18:55] moldcraft commented on #41
Hello,

No.

At the moment they are added inside sections but on page render.

[2016-01-08 21:58] pear1 commented on #41
That is unfortunate.
Anyway, thank you for your response.

[2016-01-08 21:58] #41 closed

[2016-01-15 13:23] danyj opened #42 "Bottom section not draggable"
I am using latest master and if you add 2 section and try to move
the bottom one up , you cant. You can only move the top one "sometimes"
In this video http://screencast.com/t/lyvgVU6qo , I cant move any.

[2016-01-15 13:32] danyj commented on #42
disregard, had the builder with draggula

[2016-01-15 13:32] #42 closed

[2016-01-21 12:42] andronic90 opened #43 "problem with icon shortcode"
When I put an icon shortcode in this editor didn't work https://static.md/d8ba36269b3cda6cb9ce2ed32c09bc1a.png , because my option key is "icon-type" in visual page editor key automat is transformed in "icon_type" and all work perfect, but in this https://static.md/d8ba36269b3cda6cb9ce2ed32c09bc1a.png visual editor is saved as "icon-type" and view give errors.

[2016-02-12 21:13] smemis opened #46 "Important Drag Bug"
<a href="http://www.screencast.com/t/bKhy7pvKbt" target="_blank">http://www.screencast.com/t/bKhy7pvKbt</a>

How can i fix this bug?

It is very important, beacuse I can not build a page with this huge bug :(

Please a solution.

Thanks.

[2016-02-12 22:05] moldcraft commented on #46
This problem was always there. You just need to move the mouse faster.

https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/25

[2016-02-12 22:05] #46 closed

[2016-02-13 20:10] smemis opened #47 "Builder vs PageBuilder"
Hi;
Please can you explain, what difference Builder Extension vs PageBuilder Extension?

Thanks

[2016-02-13 20:19] moldcraft commented on #47
Hello,

[Builder](http://manual.unyson.io/en/latest/extension/builder/index.html) provides the core functionality for all builders, at the moment we have: Page Builder, Form Builder and Learning Quiz Builder.

[2016-02-13 20:19] #47 closed

[2016-02-15 13:11] moldcraft commented on #18
The links are gone

![](https://static.md/2929aabba43d44c40de5111abdbc78eb.png)

[2016-02-15 13:11] #18 closed

[2016-03-28 10:54] #43 closed

[2016-04-05 17:42] sulmanpucit opened #49 "How I can add configurations panel for other layout elements?"
Section element has got configuration option. http://d.pr/i/161Cv

How we can add same for other layout elements such as 1/1 or 1/2?

[2016-04-05 18:09] moldcraft commented on #49
create `{theme}/framework-customizations/extensions/shortcodes/shortcodes/column/options.php`

[2016-04-05 18:09] #49 closed

[2016-04-05 20:02] sulmanpucit commented on #49
Thanks :)

[2016-04-14 15:18] Alexus450 opened #50 "A bug with section box"
Hi! I recently updated the plugin and in "section box" where should be the title displays this `function (n){return o.call(this,n,m)}`

Also I noticed when I try to remove the section, after I save changes it appears back. Thanks

[2016-04-14 15:31] moldcraft commented on #50
Make sure the plugin and extensions are up-to-date and do Ctrl+R in browser

[2016-04-14 15:31] #50 closed

[2016-05-07 07:47] sulmanpucit opened #52 "How short-codes are registered?"
I have got a noob question. Can you tell me how short-codes are registered? For example, if I want to use map short-code in widget or somewhere else, how I can do that? Is there

[map attributues ... ] [/map] type thing?

[2016-05-07 09:45] moldcraft commented on #52
Hello, unfortunately PageBuilder shortcodes besides simple text/number attributes values, has complex [array attributes](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/v1.3.12/shortcodes/map/options.php#L7-L8) json+htmlspecialchars encoded and are very hard to construct manually, also WordPress changes some special characters created by htmlspecialchars and corrupts the value if it

[2016-05-07 09:45] #52 closed

[2016-05-07 12:01] sulmanpucit commented on #52
Thanks.

[2016-05-21 18:09] moldcraft commented on #25
How about this https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/68287d79959fd3759235011dcd1b5584c203194a ? Please test

You can play with [timeout value](https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/68287d79959fd3759235011dcd1b5584c203194a#diff-3dd8370dbf7af1232d4d1c62cac4b59eR653)

[2016-05-24 14:36] Jelena1 opened #53 "frontend-grid.css file"
This file is in this path: unyson/framework/extensions/builder/static/css/frontend-grid.css

I'm not sure where is that from, because nowhere on github it doesn't exists, not in Unyson or here in Unyson page builder extension. It just appears when plugin is downloaded from WP repository.

I needed lot of time to find what is going on...

Problem is that I've found one important change in this file

[2016-05-24 14:56] Jelena1 commented on #53
https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/30ff8464e83f567e645c47a944c93379d4e8a21e  just found this... can my question be answered there?

[2016-05-24 15:01] moldcraft commented on #53
1. The file is in Builder extension

    https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/master/static/css/frontend-grid.css

2. The change comes from here

    https://github.com/ThemeFuse/Unyson-Builder-Extension/pull/21

3. You can fix this like that:

    1. Copy `frontend-grid.css` to `{theme}/framework-customizations/extensions/builder/static/css/frontend-grid.css`

    2. Create

[2016-05-24 15:01] #53 closed

[2016-06-03 21:10] danyj commented on #25
@moldcraft  this is bad man  http://www.screencast.com/t/DadsxPB0XI

[2016-06-03 21:37] moldcraft commented on #25
In that video you don't use [this change](https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/68287d79959fd3759235011dcd1b5584c203194a), the placeholder must not be visible while moving.

[2016-06-03 21:47] danyj commented on #25
looks better ,  another issue now is placing the item between sections  is harder  and moving columns right to left is still an issue,  http://screencast.com/t/bvK6Yw9kmB

[2016-06-03 21:48] danyj commented on #25
I dont know your setup but I am on 27" monitor so my boxes are big thus I need move moving room

[2016-06-03 21:52] danyj commented on #25
but here I resized the browser and this is plain trouble and very hard to move around. If you lucky that you dont have to move elements once placed you ok , otherwise it is trouble , look at this till the end please http://screencast.com/t/frYDJhvBf3

[2016-06-03 22:04] moldcraft commented on #25
Yes, not a good solution.

It will be good if jquery sortable will allow placeholder repossition delay, I will try to emulate it somehow.

[2016-06-07 17:11] duongancol opened #54 "Optimize drag & drop page-builder"
Hi! Is there any ways to optimize this step, sometimes it's really a nightmare when we build page by page-builder. You could see the screencast [here](https://monosnap.com/file/K5NLrEBSd3ibarstjKQ3UmdCKXjNiz)

[2016-06-07 18:27] moldcraft commented on #54
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/25

A workaround is to move the mouse faster.

[2016-06-07 18:28] #54 closed

[2016-06-08 01:54] duongancol commented on #25
@moldcraft not sure it's better, but I found that library, that not using Jquery sortable, it's just javascript but the demo is good. Please take a look here: http://rubaxa.github.io/Sortable/

[2016-06-08 09:19] moldcraft commented on #25
@duongancol I tried that library, it "shakes" too

[2016-06-08 09:26] danyj commented on #25
horizontal and vertical movements seem ok, @moldcraft  what do u mean by "shakes"

[2016-06-08 09:28] duongancol commented on #25
@danyj  see [here](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/54)

[2016-06-08 09:29] danyj commented on #25
@duongancol ,  ah yeah,  that is pain

[2016-06-08 13:23] moldcraft commented on #25
I think this is the silver bullet https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/98355fe8ea784362e8557c8bf7a730d56f0be32f

Please [Download](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/archive/master.zip) and test

[2016-06-08 13:24] danyj commented on #25
@moldcraft  on it

[2016-06-08 13:31] danyj commented on #25
@moldcraft  less "shaky" but still  hard to work with  http://screencast.com/t/dLYdJzrR8

[2016-06-08 13:38] moldcraft commented on #25
I think in your video is not this fix. The elements are still moving fast, on 0:35. View page source, builder.js and check if [this code](https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/98355fe8ea784362e8557c8bf7a730d56f0be32f) is there

[2016-06-08 13:40] moldcraft commented on #25
Ops, put the wrong link in above comment.

Download this https://github.com/ThemeFuse/Unyson-Builder-Extension/archive/master.zip
in `unyson/framework/extensions/builder`

[2016-06-08 13:41] danyj commented on #25
yes you did ,  I just cheeked , redownloading

[2016-06-08 13:45] danyj commented on #25
left and  right are much better , up and down still an issue , http://screencast.com/t/iIen7lbMDQVe
but this is improvement for sure.

[2016-06-08 13:49] moldcraft commented on #25
Thank you. Inspecting...

[2016-06-08 13:51] moldcraft commented on #25
P.S. At the moment dragging from top (new shortcodes) doesn't work

[2016-06-08 13:53] danyj commented on #25
I see  , this is what it just did ,  http://prntscr.com/bdvds3

[2016-06-09 08:27] dinhtungdu commented on #23
How about the page/post options and taxonomy option, can they be vertical too?

[2016-06-09 08:54] moldcraft commented on #23
No

[2016-06-09 13:37] moldcraft commented on #25
Playing with parameters and events without success. Drag'n'drop is pain

![](https://static.md/ae83fb002f1bc3474ee36a261d613bc9.png)

[2016-06-09 13:41] danyj commented on #25
it is

[2016-06-09 14:06] moldcraft commented on #25
I can't solve the problem by setting the right parameters and manipulating the placeholder via events.

The last solution is to copy jquery sortable, dig in code and delay placeholder update from there.

[2016-06-09 14:09] danyj commented on #25
@moldcraft   , you think you be able to maintain the changes https://github.com/jquery/jquery-ui/blob/master/ui/widgets/sortable.js, I mean if you do and you find time please do it , as you see know the builder is awesome with all options  but compared to other D&D&'s we have a mess , and is pain on large pages

[2016-06-09 14:37] duongancol commented on #25
@moldcraft : Could you try to include sortable.js and modify it? we need to test if it works better. Then if yes, I think it's not bad solution.

[2016-06-10 14:24] moldcraft commented on #25
https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/97213cd0ac625ad62be51f938f3441740b43cdbf

Please test: Download https://github.com/ThemeFuse/Unyson-Builder-Extension/archive/master.zip in `unyson/framework/extensions/builder` (or `git pull`)

[2016-06-10 14:26] danyj commented on #25
on it

[2016-06-10 14:31] danyj commented on #25
I say is bit to slow now , but again up/down  does not work right , I think we need more top/bottom padding in sections in order to find it right place

http://screencast.com/t/poIuUtZvoRJ

[2016-06-10 14:36] danyj commented on #25
@moldcraft   and I think you know that drag from top leaves traces , http://prntscr.com/beq67i
just reminder if you dont.

[2016-06-10 14:37] moldcraft commented on #25
thanks, I will play with timeout value

P.S. Maybe switch to https://monosnap.com ? your screencast links don't work in my browser https://static.md/e953f13a663c730ddad2a68cbed31753.png I always open them in Firefox

[2016-06-10 14:38] danyj commented on #25
did not know that screencast does not have html5 version ,
install flash :)

[2016-06-10 14:47] danyj commented on #25
here is the video https://monosnap.com/file/LuuvnkqKeYExTK4B3U35mLcU6VlY5h

[2016-06-10 15:34] moldcraft commented on #25
I decreased a bit the timeout https://github.com/ThemeFuse/Unyson-Builder-Extension/commit/8fc0048c37559f01f88865bfe957f503bac39c32#diff-3dd8370dbf7af1232d4d1c62cac4b59eR704 and fixed the bug with traces.

I think this is all I can do for now. We'll see/test how it works and maybe do some improvements in future.

[2016-06-10 15:42] danyj commented on #25
you might want to check that trace again , second you try to move element in section it creates it right under
http://take.ms/Nzp7n

[2016-06-10 16:15] moldcraft commented on #25
The main problem with "jumping" of elements is fixed. The glitches with positioning will be inspected later.

[2016-06-17 05:20] duongancol commented on #25
I know it's not the best solution but just want to share our way to make the drap&rop more handy between colum: http://take.ms/YEn24
just changed some CSS and I think we can re-structure the layout to make it's better.

[2016-06-17 09:51] danyj commented on #25
@duongancol nice one.  try ,  this

[code]

[2016-06-18 04:53] duongancol commented on #25
@danyj : see here: https://monosnap.com/file/y7KS0Mr87p3bNToDlJjLMim4YPeNRq

[2016-06-18 07:04] danyj commented on #25
no bud , this ,
http://prntscr.com/bhtycq

move the column with video above the top 3 columns

[2016-06-18 07:23] duongancol commented on #25
not stable : http://take.ms/GcJWg

[2016-06-18 07:24] danyj commented on #25
@duongancol ,  yeah thought so , that is one we cant fix, thnx for testing

[2016-06-18 07:25] danyj commented on #25
try to add more top padding to the section , see if that helps , this gap here , http://prntscr.com/bhu39u

[2016-06-18 07:33] duongancol commented on #25
It's not better

[2016-07-30 17:02] ahm-3d opened #58 "cant get page content of blog page"
i have created a page "Blog" and set it as the front page for all my blogs.

i have also created a content element that retrieves all the blog posts.

i have tried to modify the index.php to output the_content of the Blog page, however the page displays blank:

[code]

if there a way to display all the page builder element that i have added into the Blog page?

[2016-08-02 11:30] moldcraft commented on #58
https://github.com/ThemeFuse/Unyson/issues/1549#issuecomment-219377267

[2016-08-02 11:30] #58 closed

[2016-08-13 13:51] priondaruu opened #65 "Visual Page Builder (Unyson) doesnt appear on my page"
hi, i got a trouble when edit my content because visual page builder was disappear on the page. there was a Visual Page Builder button but when i click it doesnt appear the layout element, content element, media element and theme blossom tabs. but on other page like issue, visual page builder work properly, why only on the page visual builder disappear/cant load menu? please help me @moldcraft @al

[2016-08-13 14:13] moldcraft commented on #65
Hello,

Please run this in your browser console

[code]

[2016-08-13 14:27] priondaruu commented on #65
@moldcraft where i can find browser console? sorry im just a newbie :)

[2016-08-13 14:36] priondaruu commented on #65
@moldcraft OH GOD IT WORK!! i really desperated about it then you give me a hope!! you are my savior!! damn i really happy hahaa.. thanks!! god bless you and your family!!

[2016-08-13 15:50] #65 closed

[2016-09-08 07:21] dmbostan opened #66 "Dynamic grid on tablet"
Hi, guys!

I was wondering how can I achieve the following:

On desktop I have this:
[http://prntscr.com/cfia9r](http://prntscr.com/cfia9r)

But on tablet, I need to achieve this:

[http://prntscr.com/cfib4r](http://prntscr.com/cfib4r)

Is this possible with Unyson Page Builder?

[2016-09-08 10:53] dmbostan opened #67 "[solved] WP editor JS issue"
[Screenshot](http://prntscr.com/cfkesm)

Just installed Unyson on my localhost. Activated only Page Builder, Shortcodes and Sidebars.

The WYSIWYG is not working properly.

[2016-09-08 11:50] moldcraft commented on #66
You create your own column sizes by overwriting [this config](https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/3ef46e296ad54e2cdd9401e0c447fec1728b4013/config.php#L17) in your theme http://manual.unyson.io/en/latest/extension/builder/index.html#changing-the-grid

[2016-09-08 11:50] #66 closed

[2016-09-08 12:05] dmbostan commented on #66
Yes, I can. But can the user add this classes from the builder? Designs are always different. Let's say on desktop it is 8+4. What if there is a need for a row to be 4+8, and another row 6+6? Adding classes to config will not allow selecting custom values.

[2016-09-08 12:55] moldcraft commented on #66
The only solution the framework can offer is to add these in builder config:

[code]

But it can be confusing

[2016-09-08 13:00] dmbostan commented on #66
True.
But can I add to 2 fields (input or select) to each column and call them Tablet and Mobile and output their values on the front-end?

[2016-09-08 13:07] moldcraft commented on #66
You can [overwrite column shortcode options and view in theme](http://manual.unyson.io/en/latest/extension/shortcodes/index.html#overwriting-shortcodes)

[2016-09-08 13:16] dmbostan commented on #66
Oh, boy! This is even better :)

Shortcode's name is Column ?

[2016-09-08 13:25] moldcraft commented on #66
Yes `column`

[2016-09-08 14:43] dmbostan commented on #66
Any hint what file to edit/overwrite?

[2016-09-08 14:49] moldcraft commented on #66
Please read [the docs](http://manual.unyson.io/en/latest/extension/shortcodes/index.html)

[code]

[2016-09-09 11:51] dmbostan opened #71 "$atts['id'] returning null"
I tried to implement a rgba color picker field and use dynamic css via  http://manual.unyson.io/en/latest/extension/shortcodes/index.html#enqueue-shortcode-dynamic-css-in-page-head

but got stuck on a strange issue:  $atts['id'] returning `null`

view.php

`<div id="shortcode-<?php echo esc_attr($atts['id']); ?>" class="<?php echo esc_attr($class); ?>">
	<?php echo do_shortcode($content); ?>
	<?ph

[2016-09-09 13:12] andreiglingeanu commented on #71
Add `'id' => array('type' => 'unique')` to your `options.php`.

[2016-09-09 13:12] #71 closed

[2016-09-09 14:26] dmbostan commented on #71
bg_color' => array(
        'id'    => array( 'type' => 'unique' ),
...`
`

[2016-09-13 09:33] dmbostan commented on #67
any results on this one?

[2016-09-13 15:30] andreiglingeanu commented on #67
Works perfectly on my side. Please test it with latest Unyson master.

[2016-09-13 18:36] moldcraft commented on #67
You can also try to reinstall WordPress Shortcodes extension.

[2016-09-19 06:02] dmbostan commented on #67
Thanks for the recommendation!

However, issue happens because of the disable emojis snippet. Any way, we could avoid this ?

function b4u_disable_emoji() {
  	remove_action( 'admin_print_styles', 'print_emoji_styles' );
  	remove_action( 'wp_head', 'print_emoji_detection_script', 7 );
  	remove_action( 'admin_print_scripts', 'print_emoji_detection_script' );
  	remove_action( 'wp_print_styles', '

[2016-09-19 06:03] dmbostan commented on #67
fixed. please close this issue.

[2016-09-22 10:36] dmbostan opened #72 "Write CSS and JS to files and enqueue to front"
Hey!

After a week of Unyson, I am starting to love it :D

However, there is one more thing I would like to know:

Unyson can write CSS to HTML head inside `<style>` tag.

But can it write all the CSS inside a file, specific for the shortcode?

For example, sections could use `/theme/framework-customizations/extensions/shortcodes/shortcodes/section/static/css/styles.css`

[2016-09-22 11:05] #67 closed

[2016-09-22 11:12] andreiglingeanu commented on #72
https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/issues/62

[2016-09-22 11:13] #72 closed

[2016-09-22 13:23] dmbostan commented on #72
Thanks!

[2016-10-13 10:18] dmbostan opened #73 "Add Builder in theme options"
I know this might sound a little bit crazy, but ...

Is there a way to add page builder to theme settings?

[2016-10-13 11:35] andreiglingeanu commented on #73
Page Builder is a simple [option type](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/master/class-fw-extension-page-builder.php#L120). You should be able to add it nearly everywhere where you can render an option type.

[code]

You'll have some work to do besides that, though, like setting `editor_integration => false` (I won't even try to explain what's this all about, in short -

[2016-10-13 11:35] #73 closed

[2016-10-13 11:36] dmbostan commented on #73
Nice! Looks promising! Thank you.

[2016-10-13 11:58] dmbostan commented on #73
One more thing: how to correctly display the output of builder?

[2016-10-13 12:05] andreiglingeanu commented on #73
The idea is simple - you should translate resulting JSON into the rendered shortcodes - and do this reliably.

That's how this is done by default in Page Builder: https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/master/class-fw-extension-page-builder.php#L310

Notice that you don't have any Post idea in Theme Settings, the post there is used just as a data storage.

[2016-10-13 12:56] dmbostan commented on #73
Done. Thanks!
[code]

[2016-10-27 15:19] andreiglingeanu commented on #21
I may be able to implement this for https://github.com/ThemeFuse/Unyson-WP-Shortcodes-Extension. Is this any good?

[2016-11-10 11:13] dmbostan opened #75 "Get array of post types that use page builder"
Hi!

I try to use `fw_get_db_ext_settings_option('page-builder', 'post_types');` in functions.php, but it gives that the function is undefined.

How can we solve this ?

[2016-11-10 12:45] andreiglingeanu commented on #75
You should really wait for unyson to be fully initialized before using any of its functionality by hooking into the [`fw_init`](https://github.com/ThemeFuse/Unyson/blob/v2.6.8/framework/bootstrap.php#L111) action, like that:

[code]

<hr>

_PRO TIP_: You can bootstrap unyson manually by calling `_action_init_framework()` manually, which will try to bootstrap the framework a bit _earlier_. Note tha

[2016-11-10 12:45] #75 closed

[2016-11-10 13:11] dmbostan commented on #75
Nice! Thanks.

[2016-11-10 13:31] dmbostan opened #76 "Get all page builder data from a certain page?"
Noob question, however can't find relevant info:

How to get the entire page builder array from a certain page? Not an option, but the entire thing.

Thank you in advance.

[2016-11-10 13:48] #76 closed

[2016-11-10 13:48] dmbostan commented on #76
fw_print(get_post_meta( get_the_ID(), 'fw:opt:ext:pb:page-builder:json' ), true);

[2016-11-10 15:35] dmbostan opened #77 "Custom backend option needed"
Hi!

How can I add a custom option like this:
[code]
**'blablabla' => true // or false** is very much needed.

[2016-11-10 15:55] andreiglingeanu commented on #77
What would you want to achieve with that?

[2016-11-11 14:34] dmbostan commented on #77
@andreiglingeanu I think you are right. I had an idea about CSS delivery improvement, but you just gave me another idea. Thanks!

[2016-11-15 08:13] moldcraft commented on #76
[code]

[2016-11-23 20:08] MikeiLL opened #78 "Hook into `_theme_filter_prevent_autop` to add content"
I'm using the [fullpage.js](http://www.alvarotrigo.com/fullPage/) plugin which require's it's `sections` to be direct descendants of the wrapper. If I want to be able to add a default footer _within_ the `pagebuilder` `div`  by default, is there a filter which will make `_theme_filter_prevent_autop` accessible?

Or to add a default page builder template within the theme?

[2016-11-24 09:20] moldcraft commented on #78
Have you tried via your own filter which will be executed before page-builder's filter?

[code]

[2016-11-25 21:19] MikeiLL commented on #78
Perfect, man. Thank you!

[2016-11-25 21:58] #78 closed

[2016-12-28 13:37] Ranieripanc opened #79 "Button customization"
Hi all,

I'd just want to customize the "Button" element in Unyson (content element) to build a standard menu in a purchased theme. I've tried to understand how to get there but didn't find any css or styling option for this.
Any help would be greatly appreciated.
Thanks
Ranieri

![image](https://cloud.githubusercontent.com/assets/24810632/21523089/319f6dd8-cd0b-11e6-8344-2cc1694dbf3d.png)

[2016-12-29 09:11] moldcraft commented on #79
Hello,

Every shortcode has options, view and assets (also dynamic css). More info in [the docs](http://manual.unyson.io/en/latest/extension/shortcodes/index.html#content)

[2016-12-29 09:11] #79 closed

[2016-12-29 09:49] Ranieripanc commented on #79
Yes, I've found that, thank you.
I'm not a programmer but I believe I can work this out.
The only thing I miss is how to attribute more styles to different buttons, i.e. I need at least 4 different button styles. Can you point this out?
Thanks 👍

[2016-12-29 11:22] moldcraft commented on #79
Sorry, I don't think as a non programmer you will be able to deal with this framework. You will need to combine many options arrays and write some php code that will generate the dynamic css.

[2016-12-29 11:39] Ranieripanc commented on #79
Yes I understand and agree but I want to try at least, since I have to deliver the next week a site prototype. Do you know of any examples of this kind, if any?

[2016-12-29 12:45] moldcraft commented on #79
I don't have any good copy/paste examples.

Default button options have something similar [1](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/b6674bee2131c29a614068765f96b69aa249651a/shortcodes/button/options.php#L31-L42) > [2](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/b6674bee2131c29a614068765f96b69aa249651a/shortcodes/button/views/view.php#L2)

[2016-12-29 12:46] Ranieripanc commented on #79
Thanks!

[2017-01-23 16:45] kimannou opened #80 "Cannot remove temporary directory"
hi guys,
first let me thank you for this greate masterpeice.
But in my hosting server, i wanted to install the page builder extension after installing the unyson plugin, but i get this mesage :
`Cannot remove temporary directory: wp-content/plugins/unyson/tmp`
So i couldn't do anything and nothing is installed.
How could i surpass that problem ?
thank you in advance

[2017-01-24 08:38] moldcraft commented on #80
Hello,
Can you send me your admin and ftp credentials to `moldcraft[at]email.com`?

[2017-02-14 20:30] stepcut opened #81 "`get_parent()` returning `null` when attempting to call `load_shortcuts()`"
I have the latest ThemeFuse and extensions installed from github. When I try to view any page on my site, I get an Internal Server Error 500. The logs contain the following error:

[code]

Looking at the source for `PageBuilder` is not clear how the `parent` would get set in the first place.

[2017-02-15 11:43] moldcraft commented on #81
[code]

You placed the PageBuilder extension in wrong path. It must be inside Shortcodes extension.

[2017-02-15 11:44] #81 closed

[2017-02-27 16:27] stepcut commented on #81
Thanks! This solved my problem.

[2017-03-02 07:49] Ataurr commented on #33
Issue with text if available  `'` Symbol.

`It's just a begining of a new era`

Save this and when we add into  array. error shwoing in page.

### You can check with this one.
[code]

[2017-03-02 07:59] GheorgheP commented on #33
Wait, the builder automatically puts the `\` for the `'` symbol.
Did you add this text in the JSON content manually? In this case you should add the `\` manually.

[2017-03-02 08:11] Ataurr commented on #33
Yes I export the JSON manually with console [like this](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/33#issuecomment-138099912)

[2017-03-02 08:24] GheorgheP commented on #33
Yes, but in this case you have to add the `\` manually, because the `_fwBuilderDumpJSONOnClick` give you and `JSON` object not and string, but the `JSON` objects don't care about the `'` symbols.

You can filter the recived string and replace the `'` with `\'`: `[My JSON].replace("'", "\\'")`

[2017-03-02 11:46] danyj commented on #33
@Ataurr  is right , the snippet
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/33#issuecomment-138099912
is not escaping the single quotes

![screenshot_2](https://cloud.githubusercontent.com/assets/2340172/23505984/3db78520-ff46-11e6-8008-56d69180738b.jpg)

[2017-03-02 11:54] danyj commented on #33
@Ataurr , sorry bud ,  the script is just copying the JSON  from the builder , so is not doing anything much,
if you look in fw_options[page-builder]  is not escaped either so it is fine

![screenshot_3](https://cloud.githubusercontent.com/assets/2340172/23506202/51aa5264-ff47-11e6-8aa6-553f7358ea5a.jpg)

I placed the exported jso in to templates and works fine for me

[2017-03-02 13:02] Ataurr commented on #33
If i put this under this JSON array without escaping `'` symbol
[code]

I am receiving an error in Builder

![error](https://puu.sh/uqM0K/669508a90b.png)

[2017-03-02 15:28] GheorgheP commented on #33
@Ataurr you have to escape the JSON on your own, the code provided by @moldcraft is not escaping the JSON, you need to escape it. I even provided you the way to do it.

[code]

[2017-03-08 14:56] onioid opened #82 "Page Builder Extension Download Problem"
Hi,
Thanks for the plugin.
I would like to use it, but get this message when selecting the download button in Wordpress under 'Available Extensions':

Failed to access Github repository "ThemeFuse/Unyson-Shortcodes-Extension" releases. (Response code: 403)

I have the same problem with Breadcrumbs.
I downloaded the extension from here (Github) to my computer, but how/where do I upload/install it t

[2017-03-10 14:03] GheorgheP commented on #82
The Page Builder extension you need to add in `wp-content/plugins/unyson/framework/extensions/shortcodes/extensions`.

Do not forget to rename the extensions folder to `page-builder`

[2017-03-10 14:04] GheorgheP commented on #80
I think we can close this issue due to inactivity.

[2017-03-10 14:04] #80 closed

[2017-04-11 07:42] dmbostan commented on #77
@andreiglingeanu is there a way to add the `blablabla` mentioned above for each built-in options? I just need a way to overwrite the current built-in options. I might not need to create new ones.

[2017-04-11 08:16] dmbostan commented on #77
Got it on my own. Closing the issue.

[2017-04-11 08:28] GheorgheP commented on #77
No, all options are controlled by options type itself, except for standard `type`, `desc`, `label`, `help`.

[2017-04-11 08:31] #77 closed

[2017-04-11 08:32] dmbostan commented on #77
Thanks!

[2017-04-14 08:14] zannaSenior commented on #82
Hi,
it looks a great plugin, but I can't install the page builder extension. I purchased Grand theme by Energetic Themes (wich includes Unyson). Developing a websites on wamp local server (windows 10), when I press the download button for Page builder extension I get the following error:
"Cannot move "C:/wamp/www/sinter/wp-content/plugins/unyson/tmp/Unyson-PageBuilder-Extension-1.6.13/includes" to

[2017-04-25 14:20] galia1902 opened #86 "missing fields in my page editor"
![screen shot 2017-04-25 at 5 04 35 pm](https://cloud.githubusercontent.com/assets/28009698/25390050/105296c8-29db-11e7-9f0a-11047faf5707.png)

I'm missing the "custom class" and "custom id" in another domain I've uploaded Unyson to. what can be done to make them appear?

[2017-04-27 07:13] GheorgheP commented on #86
The **Custom Class** and **custom Id** options are added by the theme author in the **Section** shortcode options. Please contact the theme author and review why the options do not appear.

[2017-05-03 03:10] mvpenzin opened #88 "Problem with offline activation"
Hi!

I have an offline server for development.
Unyson framework was easily installed offline.
But something went wrong with the Page Builder extension.

I download and placed it on the path \wp-content\plugins\unyson\framework\extensions\
Next to the Page Builder appeared button "Activate".
After press this button WP writes: "Cannot activate the Builder extension because it is not installed. Insta

[2017-05-04 08:13] GheorgheP commented on #88
You need to install all required extensions manually in this case, because the Page Builder Extensions requires the [Builder](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension) extension to be installed and Unyson wants to download it from repository but cannot due to internet connection limitation.

[2017-05-04 09:05] mvpenzin commented on #88
Exactly!
Page Builder and Builder are different extensions!
THNX!

But.. Something went wrong again..
Fatal error: Call to a member function load_shortcodes() on null in \wp-content\plugins\unyson\framework\extensions\page-builder\class-fw-extension-page-builder.php on line 111

[2017-05-04 09:59] GheorgheP commented on #88
The `Page Builder` extensions is a sub-extension of the [Shortcodes](github.com/ThemeFuse/Unyson-Shortcodes-Extension/) extension. It is installed in the **Shortcodes** extension dir:

[code]

[2017-05-05 02:24] #88 closed

[2017-05-09 07:09] banglacow opened #89 "Unyson elements gives error to elements when editing page with page builder HEAD IS EXPLODING"
I am using themeforest themefuse planup event theme for wordpress

The following pictures describe the immense mental torture
I've had for the past 48hours

Unyson shows me error when I drag the elements to the page. Clicking on it show "error not found"

I tried everything.
1.reinstalling wordpress
2.reinstalling plugins
3.reinstalling themes

![manage themes runpilgrim wordpress](https://cloud.g

[2017-05-10 06:25] GheorgheP commented on #89
Hi,

First of all thank you for appreciation.

In case you are about this theme [Plan Up](https://themeforest.net/item/planup-event-booking-wordpress-theme/14049587), then you have to know that it is not developed by ThemeFuse. It is developed by another author, but it is using the Unyson framework developed by ThemeFuse.

Does the error appear only on specific shortcodes or on all of them?
You ne

[2017-05-10 10:34] banglacow commented on #89
[https://github.com/ThemeFuse/Unyson/issues/2578#issuecomment-300392413](https://github.com/ThemeFuse/Unyson/issues/2578#issuecomment-300392413)

thank you.... they were talking about it being a server config issue

i am head over tails over these ... what should I do?

Closing this

u are a angel

thank you

[2017-05-10 10:34] #89 closed

[2017-05-18 20:39] alexitmp opened #90 "elements are saved with absolute paths making domain changes impossible"
I have created a wordpress site on my pc before moving it to the server. The localhost is way faster then the server.
But when I tried to move the data to the server according to wordpress' tutorial I found that the images and some other elements didn't work. In the source code I found that the SRC-paths had "localhost" in them  which required me to edit the whole site again after moving it to the

[2017-05-22 11:29] GheorgheP commented on #90
There are saved the URls, not paths. But I would recommend to use the Backup extension in order to migrate your site.

[2017-06-26 10:08] dmbostan opened #91 "Column popup size"
Hi, guys!

Is there a way to change the popup size of columns in builder? I am using multiple tabs, and they look very bad inside.

Thank you in advance.

[2017-06-28 20:26] JeSuis commented on #90
Its horrible you have to manually go into the db and update things, the backup extension also overwrote the db info in wp-config

[2017-06-28 20:28] JeSuis opened #92 "Hardcodes `http` even though wordpress uses `https`"
Page builder hardcodes the full url for the asset using `http` even though the site uses `https`
This leads to content security issues and doesn't let the assets load.
If you switch to the default editor and insert an image it inserts it as `https` as it should, this seems to be an issue with the plugin.

[2017-07-19 17:52] solamichealolawale opened #93 "Publish/Update Button Missing after activating Unyson-PageBuilder Extension"
Hi, your plugin is great, just that today as i login to my admin dashboard, i updated the unyson plugin and when i try to create new post/event/page, the publish button is missing, while troubleshooting (deactivativing and reactivating plugins) I discovered that when i deactivate the PageBuilder  extension in Unyson, the publish button will dissapear and the "add new page" takes forever to load.

[2017-07-26 08:17] steve-themefuse opened #94 "Conflict between easyReservations plugin and Unyson"

[2017-07-26 08:19] #94 closed

[2017-08-02 11:01] premalk commented on #82
Hi. I have solved this problem just now. First of all you can deactivate your all plugins and then install the page builder extension again. I hope it will work.
I solved this problem by this technique after 4 hours.

Thank you

[2017-08-14 15:10] ViorelEremia commented on #93
Hi,
Please provide some details such as:
1. What theme do you use?
2. Your server configuration
3. Try and disable all plugins
4. Try to activate debug(recommended) or install a plugin such as debug bar

[2017-08-21 09:54] EasyMarketingSolutions opened #96 ""Shortcodes" extension github repository "ThemeFuse/Unyson-Shortcodes-Extension" has no releases."
Hello, I installed a theme on wordpress. Finish installation i had this error when I want to install the page builder.

"Shortcodes" extension github repository "ThemeFuse/Unyson-Shortcodes-Extension" has no releases.

I don't know how it is solved. I hope you can help me.

[2017-08-21 10:06] ViorelEremia commented on #96
https://github.com/ThemeFuse/Unyson/issues/2790

[2017-08-21 10:06] #96 closed

[2017-08-30 16:38] solamichealolawale commented on #93
1. Woffice Intranet/Extanet Theme

2. cPanel Version | 60.0 (build 46)
   Apache Version | 2.2.31
   PHP Version | 5.4.45
   MySQL Version | 5.5.51-38.2
   Architecture | x86_64
   Operating System | linux

3. I have disabled all plugins, until i get to know that unyson page builder is the cause and cant deactivate the plugin, for my site is dependent  on it

4. Ive tried it, but its still the sam

[2017-09-21 16:38] dominicht opened #97 "New CSS is setting all images height to auto and breaks a lot of things"
In frontend-grid.css, there is a new css rule:
`img {
    height: auto;
}`

I noticed that a lot of websites using Unyson now have disproportionate images. For example, if an image height was set directly on the <img> tag using the "height" attribute, it is now overriden with that new css rule for all images. There is also no way to revert this with CSS (display the image using the "height" attrib

[2017-09-22 08:25] ViorelEremia commented on #97
https://github.com/ThemeFuse/Unyson/issues/2495
you can rewrite it, create in theme or child theme: framework-customizations/extensions/builder/static.php :
`<?php defined( 'FW' ) or die();

if ( ! is_admin() ) {
	wp_register_style(
		'fw-ext-builder-frontend-grid',
		fw_get_template_customizations_directory_uri( '/extensions/builder/static/css/frontend-grid.css' ),
		array(),
		fw_ext('builder')-

[2017-09-22 08:25] #97 closed

[2017-10-02 11:15] ViorelEremia commented on #93
Sorry for long delay, you found the problem? I think is caused by a javasscript error or footer admin is not rendered stopped by an fatal error php, in short drop me your credentials from dashboard here : viorel[ a ] themefuse [[ dot ]] com

[2017-10-10 10:31] #93 closed

[2017-10-12 14:58] alhoseany opened #98 "Is there is a way to export the json code saved by the builder into shortcodes in default wordpress editor?"
Hi,
My client want to remove the builder and use the default wordpress editor instead with the shortcodes of the builder. we have more than 150 pages creating by the builder. is there is anyway to automate the process of getting the json code of the builder, convert to normal text with shortcodes and then save it in the default post content?

[2017-10-21 18:32] nydame opened #99 "Carousel module's "Add new item" button is hidden"
At some point after initially adding images to a carousel, it becomes impossible to edit because the "Add new item" button is hidden. After removing that class name, the new item form appears, but when it is "saved", nothing actually happens.

[2017-10-23 15:10] ViorelEremia commented on #99
Unyson by default don't have shortcode carousel, what is carousel shortcode or custom post type, provide more details how you added it, where, what class, maybe you mean slider type???

[2017-10-23 15:18] nydame commented on #99
Ah,  my mistake; I will talk to theme developers. Sorry!

[2017-10-23 15:22] #99 closed

[2017-10-24 12:29] ViorelEremia commented on #98
The key that contains json of shortocodes is fw:opt:ext:pb:page-builder:json you can extract and manipulate it as you like, test this code:
`wp_update_post(
	array(
		'ID'           => $post_id,
		'post_content' => function_what_parse_json( get_post_meta( $post_id, 'fw:opt:ext:pb:page-builder:json', true ) ),
	)
);`

[2017-10-24 12:29] #98 closed

[2017-10-27 12:59] dominicht commented on #97
Thanks for the reply. Hovewer, overriding the whole CSS file isn't really a sustainable solution since this issue will most likely happen on any theme using the Unyson page builder.

The main issue is that `img { height: auto; }` is not overridable with CSS (you can set a different height, but you can't reset this rule). This rule in the CSS file overrides the "height" attribute of the tag, unlike

[2017-10-27 13:08] dominicht commented on #97
You can see this as a reference: https://stackoverflow.com/questions/44010645/remove-height-auto-using-css

[2017-10-31 17:40] dominicht commented on #97
@ViorelEremia What do you think?

[2017-12-22 07:11] yura-x opened #100 "PageBuilder disappears after Unyson Plugin update"
Hello!
PageBuilder often disappears from post (page) edit page after Unyson Plugin update. It appears again after deleting and installing again whole Unyson Plugin or after Extensions update (when updating extensions after plugin update).
Question: How can we put admin_notice with message that we need to update Unyson Extensions after Unyson Plugin update?
Now we only have a message that extension

[2017-12-22 08:14] ViorelEremia commented on #100
If unyson has an update not mean extensions also have updates.
I don't understand you very well, you mean after each update of unyson you have to update extensions?
When there are updates for extensions unyson by default get an admin notice.
Or on your site after unyson update extensions are not available. During the update, extensions are copied temporary to tmp folder after the update they are p

[2017-12-22 16:36] yura-x commented on #100
Hello! Thanks for your reply!
Sorry for inaccurate question.
I want to show a dismissable admin notice with text like "Please update your Unyson extensions" if a new version of any extension is available, in addition to the footer message on updates page (from screenshot above).
Thank you!

[2017-12-22 19:30] ViorelEremia commented on #100
Unyson by default has that  "Please update your Unyson extensions" see here: https://github.com/ThemeFuse/Unyson/commit/3ffa7d859d8be0c723e897dd0171f507870c4fa8
you do not have to worry about it, maybe it does not work on your site then let's see why it does not work, you do not have to build any other bikes on it. So try and reduce the version to one of the extensions and check if you have a noti

[2017-12-23 17:36] yura-x commented on #100
Maybe I'm doing something wrong but I have not any notice about extensions updates available at the top of the page, only at the bottom of updates page:
[http://prntscr.com/hrgbom](http://prntscr.com/hrgbom)

[2018-01-05 01:47] firelite opened #101 "No bulk edit"
There are many situations where I need to update multiple content elements within a page in the drag 'n' drop builder but it appears that I must make the edits for each element one by one.  I'm assuming there's no bulk editing built-in.  Is there a way I can access the visual source code via text mode?

[2018-01-05 01:55] firelite opened #102 "Nesting Grids"
Is it possible to nest grids within grids?  For example, an 8 column row placed within a 6 column row?

[2018-01-05 15:40] ViorelEremia commented on #101
There is no way to see it, but you can do some hacks, you have data json from db:
[code]
How to savfe it see here for seo implimentation(after all changes or refresh admin page after save it): https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/master/class-fw-extension-page-builder.php#L174

[2018-01-05 15:40] #101 closed

[2018-01-05 15:43] #82 closed

[2018-01-05 15:44] #86 closed

[2018-01-05 15:44] #90 closed

[2018-01-16 14:02] ViorelEremia commented on #102
What you want to do?
At level php you cant do that.
html you can try should work.

[2018-01-16 16:30] firelite commented on #102
I'm talking about using the drag n drop builder feature as the user.    The nature of layout elements appears to only be able to be dropped within a Section element.  There's many scenarios when it's necessary to nest a layout element within another layout element.  See the image to see what the restriction is:

<img width="2231" alt="unyson builder grid problem" src="https://user-images.githubuse

[2018-01-17 13:57] ViorelEremia commented on #102
Yes, I know about that, it is related to:https://github.com/ThemeFuse/Unyson/issues/2485
I will soon solve it, at the moment it is not possible.

[2018-01-17 13:57] #102 closed

[2018-01-26 10:33] ViorelEremia commented on #100
You can't see notice because your transient is not [expired](https://github.com/ThemeFuse/Unyson/blob/master/framework/extensions/update/extensions/github-update/class-fw-extension-github-update.php#L196) by default it is 24 hours.
You can't set it too small because you can go beyond the limit imposed by github(5000/hour), unyson has now 100000 + maybe near 200.000 so the probability is very high

[2018-01-26 10:35] #100 closed

[2018-02-03 13:52] ecksite opened #106 "Add Attribute to grid row/col"
Is it possible to add a html attribute to the row or col container of the pagebuilders grid?
something like:

` $cfg['grid.row.attr'] = 'myattribute'; `

If not, could you add something like that please?

[2018-02-05 16:02] ViorelEremia commented on #106
Why do you need that? That shortcode row you can not add options for it so to add a attribute you need to add it depending on an option. Or you want to add for all?

[2018-02-05 16:35] ecksite commented on #106
I am trying to add the uikit 3 grid, so I would like to add the uk-grid attribute in order to use the js options.

See: https://getuikit.com/docs/grid

[2018-02-09 10:35] ViorelEremia commented on #106
Have you tried to rewrite row view.php?
How do you think it will be the best way to do this?

[2018-02-10 09:03] ViorelEremia commented on #106
It is good! I do not see another way of improvement.

[2018-02-10 09:03] #106 closed

[2018-02-16 09:42] ecksite commented on #91
You can override the column shortcode configuration which is used by the page builder. See the [documentation](http://manual.unyson.io/en/latest/extension/shortcodes/index.html#config-file)

by doing that, you can change the column's popup size by adding
[code]

to the 'page_builder' array.

for example: in your custom config.php:
[code]

[2018-02-16 09:56] #91 closed

[2018-03-02 12:49] #21 closed

[2018-03-13 13:07] #25 closed

[2018-03-21 13:20] ViorelEremia commented on #92
What scripts I checked and there are no scripts loaded without protocol

[2018-03-24 09:40] zakirsajib commented on #4
No good.

[2018-03-27 11:51] andronic90 opened #108 "Problem with static shortcode bar"
This shortcode bar onscroll on MAC OS, Chrome browser https://static.md/765a1078ed353727c7f73aeccf62fecc.png have a specific effect.

also tested on MAC OS safari and firefox, the same problem.

Please contact me if you need more details.

[2018-04-02 08:10] #92 closed

[2018-06-19 23:02] Ninos opened #109 "Page builder not working anymore after upgrade (convert post_content to json)"
Hey there,
after upgrading the page builder it will not work anymore. Problem is, that all the content is saved in post_content instead of `fw:opt:ext:pb:page-builder:json` in json-format. So the question is, how can I convert the post_content with it's shortcodes into json-format and save it to `fw:opt:ext:pb:page-builder:json`?

Before as I know we used v2.2 and are using v2.7 now. Would be awes

[2018-06-20 07:31] ViorelEremia commented on #109
There is no function to convert html to json or for migration. Version 2.2 was published two-three years ago since then, many things we changed. Have you the old json? what theme do you use? do you have many pages to migrate?

[2018-06-20 08:15] Ninos commented on #109
What you mean with the old json? I'm using the theme "Concept". No, just 2 one-pager

[2018-06-20 09:42] Ninos commented on #109
Oh there's also another older json? Is it possible to use it without any problems? Otherwise I wrote a small snippet to convert the post_content into json-format. I just have the problem, that I don't know the exact structure of the shortcode (it looks a little bit weird):

[code]

[2018-06-20 09:50] ViorelEremia commented on #109
Have you an old version of json from ```fw:opt:ext:pb:page-builder:json```? have you a backup server, plugin maybe? if you have then it is easily to adapt that json to the newest? but I think the easiest way is to create everything again because I don't know how your theme is working what shortcode/extensions/post_types/options has it, and how worked the old unyson

[2018-06-20 10:09] Ninos commented on #109
Hm, in db the field `fw:opt:ext:pb:page-builder:json` has following value: `[]` (empty json). I'll try to recreate the structure, thank you! :-)

[2018-12-22 16:52] rayhan0421 opened #111 "How to get relationship meta data by filtering"
I made schedule and speaker post type.  I add meta field by unyson and make relationship schedule and speaker(one to many).   I want speaker all schedule by meta query or unyson fw query.  How please help me.

[2018-12-23 16:51] danyj opened #112 "Previews trigger save"
@ViorelEremia Not sure if it is connected to page builder  100%

I have a preview button above the page builder http://prntscr.com/lynxc4
this just triggers a post-preview click

[code]

it worked without issues until latest builder and WP 5.0.2

now if you run this in console while builder is open

` $( '#post-preview' ).trigger('click');
`

there is quick flash of Unyson preloader icon and the a

[2018-12-23 16:53] danyj commented on #112
Please note that I have Gutenberg disabled via  https://gist.github.com/danyj/ec00057550fd6f73995ab2f8fc8b729f

[2019-01-24 18:58] Delfina10 commented on #65
I have a similar problem. Page builder was there then stop appearing in pages.

![screen shot 2019-01-24 at 12 24 50 pm](https://user-images.githubusercontent.com/47006611/51701375-5540f800-1fdf-11e9-8245-3521e66102cf.png)

[2019-02-11 20:05] mlt0882 opened #113 "Page Builder not showing up at all"
My page builder is non-existent on my back end. This is a HUGE problem because if I edit any of the html directly (which is currently the only option with the Classic Editor plug-in), then it breaks the entire home page.

Please assist. This is a fatal issue with your theme, plug-in, or wherever the problem lies and is keeping me from being able to properly use it.

[2019-02-12 21:15] dlucero23 opened #114 "I cannot get the Unyson page builder extension to work on my installs past WP v5."
I am migrating my sites over to a managed host that requires wp 5 or better, and for some reason on two of my installs, the Unyson page builder disappears and is replaced by the WP "Gutenberg" blocks builder. I do not get an option to switch to Unyson, and if I were to edit the HTML left over from the Unyson page builder, it breaks the entire page every time.

I tried reverting back to the classic

[2019-02-26 16:20] dlucero23 commented on #113
I have the same issue. See this [currently Open Issue here](https://github.com/ThemeFuse/Unyson/issues/3739)

Maybe we can try to figure it out on our own?

What is software versions you are currently running? (host, WP version, builder version, theme version, etc)

This is mine:
- Kinsta
- wp 4.9.9 and 5.0.3
- Unyson 2.7.19
- Philanthropy Theme 2.0.18 and 2.0.19

[2019-02-26 17:13] mlt0882 commented on #113
It seems like that would be the only option as neither of my open tickets have received any sort of response and support was wholly unhelpful.

My host is Siteground, I am running The Core parent theme with "Medical" as the child theme and all of my software is fully updated. Also using the "Classic Editor" plug-in to avoid the Gutenberg block editor tool.

[2019-03-03 23:27] cherrypj commented on #113
I'm having this issue too. I host the site at Digital Ocean, running the Jevelin theme (v3.0.3), WP v4.9.9 (with Classic Editor enabled), and Unyson is v2.7.22. All extensions are up-to-date.

All I see is HTML in my page content, no PageBuilder button.

[2019-03-04 07:26] elivnjak opened #115 "Youtube thumbnail returning HTTP"
When i use a Youtube Video as a section background the page doesnt have valid SSL because of mixed content issue.

Mixed Content: The page at 'xxx' was loaded over HTTPS, but requested an insecure image 'http://img.youtube.com/vi/xxx/0.jpg'. This content should also be served over HTTPS.

[2019-03-04 13:55] cherrypj commented on #114
I can confirm: upgrading WP past v.4.9.9 breaks the Page Builder. The button simply disappears. Downgrading doesn't help at all.

[2019-03-04 16:04] dlucero23 commented on #113
Also, I was chatting with my clients website team, and we noticed they can see and use the Unyson Builder no problem using their user profile (which is also the site owner). My user profile is just an admin.

Are you guys accessing it from the same admin profile that owns the website or from another profile?

[2019-03-04 16:36] mlt0882 commented on #113
I am accessing from the admin profile. The strange thing is that I have another client's website that I am working on that is a fresh install of Unyson/The Core and it doesn't have this issue.

I have tried deleting all plug-ins, reinstalling, and making changes to the functions.php file on a staging copy of the site and still no change. Still unsure of what is blocking it from loading.

[2019-03-04 17:12] dlucero23 commented on #113
Hi @mlt0882 , when you say that you are accessing the admin profile, is it a general admin profile, or is the the admin profile that started and owns the site? (ie. the same email that is listed under 'email address' on SITENAME.com/wp-admin/options-general.php)

[2019-03-04 17:53] dlucero23 commented on #114
I tried dowgrading to 4.9.9 as well, and that did not solve the problem, as @cherrypj experienced

[2019-03-04 18:03] dlucero23 commented on #114
It looks like this may be related, but my php is not that good

#109

This is definitely the same issue as OP:

#113

Here is my issue:

[Unyson Issue #3739](https://github.com/ThemeFuse/Unyson/issues/3739)

[2019-03-04 20:23] dlucero23 commented on #113
These look to be related:

#109 and #100

This is definitely the same issue as OP:

#114

Here is my own related issue:

[Unyson Issue #3739](https://github.com/ThemeFuse/Unyson/issues/3739)

[2019-03-04 20:37] danyj commented on #113
Guys , please keep you installations updated,
I see posts saying 2.7.19 where latest version of the framework is 2.7.22 https://github.com/ThemeFuse/Unyson/releases

Once the framework is updated you also need to update the extensions.
Look on updates page all the way to the bottom

![42029395-b53cb7cc-7acf-11e8-800b-03e73d10fb20](https://user-images.githubusercontent.com/2340172/53761350-97eecd80

[2019-03-04 21:10] dlucero23 commented on #113
Hi @danyj , I have updated all the software  (Unyson & Unyson Extensions) this morning to the latest, and I am still having the issue. Page Builder is not visible on the edit page screen.

[2019-03-04 21:42] danyj commented on #113
@dlucero23 did try switching the theme?
did you edit the page with Brizy or anything?
did you try to add new page and see if builder is there?
are there any js/php errors?
did you try the builder on clean WP install without any 3rd party plugins?

so many things to test.

[2019-03-04 22:38] dlucero23 commented on #113
yes, Tried the parent theme (Philanthropy), then tried Twenty Nineteen. issue is unchanged

I have not edited any of the pages with Brizy or anything. This is GLOBAL, on all pages -- There is no page Builder on the Edit page

I tried to add a new page this morning, and the builder is still missing.

Actually, There is a JS error on the edit page for ace.js: `window.controllers/Controllers is depre

[2019-03-04 23:03] dlucero23 commented on #113
Also, on my staging site, I disabled all other Unyson Extensions, to leave only Unyson Page Builder active alongside zero active 3rd party plugins. I checked the page editor, and it is still missing.

[2019-03-05 00:35] mlt0882 commented on #113
@danyj Mine have been updated, just to be clear. I have been getting this error though from my parent theme's error_log.php:

`PHP Fatal error:  Uncaught Error: Call to undefined function get_template_part() `

@dlucero23 It is the same admin profile that I used to build the website.

[2019-03-06 13:53] cherrypj commented on #113
Do we think it's the WP version? Even with the classic editor, the page builder doesn't show. I have a friend who's set up a local install, with WP5.0.3, and I've visually confirmed that he has the page builder. I've asked him to give me more details in his install (PHP version, Unyson version, etc.).

I've got PHP 7.2.15 installed. It shouldn't matter. I've not been able to get the Page Builder t

[2019-03-06 15:25] danyj commented on #113
OK , any of you do me a favor please, lets test on Local or clone if possible

to figure out if it is Guttenberg issue add this to your functions.php

https://gist.github.com/danyj/ec00057550fd6f73995ab2f8fc8b729f#file-thz_disable_gutenberg-php-L7-L10

To figure out if it is a theme ,
install Creatus free version and just activate it ,
https://github.com/Themezly/Creatus/releases

than check if bu

[2019-03-07 05:22] qutub-bharmal commented on #113
Ref: https://github.com/ThemeFuse/Unyson/issues/3752

I change something and it works, @danyj can you please check if it is correct?

JS file: https://github.com/ThemeFuse/Unyson/blob/master/framework/includes/option-types/wp-editor/static/scripts.js#L89

Now, `wp.editor` refers to the new Gutenberg editor, I have printed the WP object and check the TinyMCE editor refers with `oldEditor` object.

[2019-03-07 10:26] danyj commented on #113
@qutub-bharmal than this is a temp fix for it without changing js
https://gist.github.com/danyj/ec00057550fd6f73995ab2f8fc8b729f#file-thz_disable_gutenberg-php-L7-L10

[2019-03-07 10:28] qutub-bharmal commented on #113
What can be a final fix?

[2019-03-07 21:51] cherrypj commented on #113
@danyj I've created an account for you. You should have the details at your gmail.

The function.php disabling Gutenberg did not work for me. The Creatus theme (nice one!) does not enable the Page Builder either. I did not try the JS fix.

[2019-03-07 21:56] mlt0882 commented on #113
As have I.

[2019-03-07 22:11] one9ooh6 commented on #113
@danyj  @qutub-bharmal  what exactly am I changing.

[2019-03-07 23:42] danyj commented on #113
@cherrypj where? I just spoke to Matt and his fix was the hook I provided apparently.

[2019-03-08 06:34] qutub-bharmal commented on #113
@one9ooh6
Check the code here:
https://gist.github.com/danyj/ec00057550fd6f73995ab2f8fc8b729f#file-thz_disable_gutenberg-php-L7-L10

add anyone hook with function in your theme or child theme functions.php file.

@danyj
Can you please let me know, what can be a final solution?

[2019-03-08 11:23] danyj commented on #113
@qutub-bharmal no not a this moment. again I am dev like others here not the owner of this repo

[2019-03-08 12:11] qutub-bharmal commented on #113
@danyj why support not replying here anymore?
We are getting support by our selves :smiley:

[2019-03-08 14:49] one9ooh6 commented on #113
I tried that and it didn't work. :(

[2019-03-08 14:50] one9ooh6 commented on #113
I've contacted them via Facebook, email, here, and no response.

[2019-03-08 15:10] cherrypj commented on #113
@danyj : if you've got time, it's here, http://157.230.229.161/wp-admin/ Appreciate that you're spending time on this with us.

[2019-03-08 15:15] danyj commented on #113
@cherrypj , send me admin details to

themezly at gmail

[2019-03-08 15:23] one9ooh6 commented on #113
@danyj can you help me PLEASE.  :)

[2019-03-08 15:28] danyj commented on #113
@one9ooh6 read the posts , I told everyone here that I can take a look but cant shoot blind
read this
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/113#issuecomment-470149512

[2019-03-08 16:29] one9ooh6 commented on #113
@danyj  I've done. Actually went into the functions.php file and added that snippet but still nothing worked.

[2019-03-08 20:08] arxpoetica commented on #113
Two cents, this doesn't appear to be a versioning issue—

@cherrypj and I have two separate instances running, same database, same data, same versions of extensions, themes, plugins and version of WP itself, and it works great on my local and has problems on a Digital Ocean's instance.

So the versioning concerns *may* be a red herring.

This is a super high priority concern for us, holding up wor

[2019-03-21 18:38] kcarissimi commented on #113
Ours is down and I'm not working on either theme. Has anyone heard from the developers?

[2019-06-20 08:18] baturkacamak commented on #33
Shouldn't it be easier to import/export template when the users want to rather than making them deal with developer console?

[2020-08-16 21:09] Cre8tiveWolf opened #116 "Unyson Disappears when Editing Page"
Hello, I am hoping someone can help me. When I create a new page in my WordPress site, I am able to use Unyson. However, when I go back to the page later to edit it, Unyson has disappeared. My only workaround is to rebuild the page from scratch. Does anyone know how to fix this issue? I have seen others have had this issue, but have not been able to come up with a solution yet.

Thank You

[2021-01-29 23:18] bh-nayan opened #118 "unyson plugin activate"
1st time i installed alone theme and unyson plugin perfectly and created website. but the last 2 days I can't access my dashboard when i activate unyson plugin.it shows me a critical error. when I deactivate it by Cpanel I can log in dashboard but I lost unyson framework box layout header layout etc.
please tell me the solution to this. this is very urgent for me.
I tried lots of ways from this Gi

[2022-10-13 08:58] AlexeyPolozItexus opened #119 "Cant download extension via unyson WP"
I need to download backup demo extension, but i get error 'Failed to access Github repository "ThemeFuse/Unyson-Backups-Extension" releases. (cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received)'. I've tried to download repo in zip format and unpackage into unyson extensions folder, but then when I install demo I got an error 'A content install is currently running', b